flask==3.1.2
flask-cors==6.0.2
flask-limiter==4.1.1
google-api-python-client==2.187.0
google-auth==2.41.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.3
python-dotenv==1.2.1
requests==2.32.5
streamlit==1.52.2
cryptography==46.0.3
pydantic==2.12.5
email-validator==2.3.0
